<%- include('./partials/header') %>

    <link rel="stylesheet" type="text/css" href="/css/profile.css">

    <div class="profile-container">
        <div class="course">
            <div class="course-preview">
                <img src="/assets/img/pp.png" alt="Profile Picture" width="100%" height="100%">
            </div>
            <div class="course-info">      
                <table style="width:100%">
                    <tr>
                        <td class="td-1">Username </td>
                        <td>: </td>
                        <td class="td-3"><%= currentUser.username %>  </td>
                    </tr>
                    <tr>
                        <td class="td-1">Email-id </td>
                        <td>: </td>
                        <td class="td-3"><%= currentUser.email %> </td>
                    </tr>
                </table>
                <tr>
                    <a href="/newVid"><button class="btn btn-warning">Add Video</button></a>
                </tr> 
            </div>
        </div>

        <h1 style="margin-bottom:20px; color: rgb(95, 95, 95);">Recorded Videos</h1>
        <hr style="width: 20%;">
        <div class="main"> 
            <% videos.forEach(function(video){ %>
            <ul class="cards">
                <li class="cards_item">
                    <div class="card">
                        <iframe id="rec-frame" allowfullscreen style="border:none;"
                            src="https://www.youtube.com/embed/<%= video.vid_url_id %>"></iframe> 
                        <div class="card_content">
                            <div class="card_text">
                                <table style="width:100%">
                                    <tr>
                                        <td>Video-ID </td>
                                        <td>: </td>
                                        <td class="td3"><%= video.vid_id %> </td>
                                    </tr>
                                    <tr>
                                        <td>Date </td>
                                        <td>: </td>
                                        <td class="td3"><%= video.date %> </td>
                                    </tr>
                                    <tr>
                                        <td>Location </td>
                                        <td>: </td>
                                        <td class="td3"><%= video.location %> </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>   
            </ul>
            <% }) %>
        </div>
    </div>

    <%- include('./partials/footer') %>
