<%- include('./partials/header') %>

    <link rel="stylesheet" type="text/css" href="/css/profile.css">

    <div class="profile-container justify-content-center">
        <div class="course row justify-content-center">
            <div class="course-preview col-md-3">
                <img src="/assets/img/pp.png" alt="Profile Picture" class="img-fluid">
            </div>
            <div class="course-info col-md-9">
                <table style="width:75%">
                    <tr>
                        <td class="td-1">Username </td>
                        <td>: </td>
                        <td class="td-3">
                            <%= currentUser.username %>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-1">Email-id </td>
                        <td>: </td>
                        <td class="td-3">
                            <%= currentUser.email %>
                        </td>
                    </tr>
                </table>
                <div class="ml-4 mt-4 pl-1">
                    <a href="/newvid"><button class="btn btn-warning">Add Video</button></a>
                </div>
            </div>
        </div>

        <div>
            <h1 style="margin-bottom:10px; margin-top: 20px; color: rgb(95, 95, 95);">Recorded Videos</h1>
            <!-- <hr style="width: 10%;"> -->
            <hr class="divider mb-4 mt-3" />
        </div>

        <div class="main">
            <ul class="cards">
                <% files.forEach(file=>{ %>
                    <li class="cards_item">
                        <div class="card">
                            <iframe id="rec-frame" allowfullscreen style="border:none;" src='<%= file.url %>'></iframe>
                            <div class="card_content">
                                <div class="card_text">
                                    <table style="width:100%">
                                        <tr>
                                            <td>Video-ID </td>
                                            <td>: </td>
                                            <td class="td3">
                                                <%= file.public_id %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Date/Time </td>
                                            <td>: </td>
                                            <td class="td3">
                                                <%= file.created_at %>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                    <% }) %>
            </ul>
        </div>

    </div>



    <%- include('./partials/footer') %>